.poster {
  width: 100%;
  position: relative;

  .image {
    position: relative;
    width: 100%;
    cursor: pointer;

    &:hover::before {
      visibility: visible;
      opacity: 1;
    }

    &:hover svg {
      visibility: visible;
      opacity: 1;
    }

    >img {
      width: 100%;
      border-radius: 4px;
      display: block;
      object-fit: cover;
      height: var(--height) !important;
    }

    >svg {
      fill: #fff;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 32px;
      height: 32px;
      visibility: hidden;
      opacity: 0;
      z-index: 10000;
    }

    &::before {
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      background: linear-gradient(0deg, rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.35));
      z-index: 1000;
      visibility: hidden;
      opacity: 0;
    }
  }

  .poster__title {
    color: inherit;
    font-size: 16px;
    font-weight: 400;
    margin-top: 16px;
  }
}