.wrapper {
  width: 100%;

  header {
    position: fixed;
    top: 0;
    width: inherit;
    z-index: 100000000;
    padding-inline: 32px;

    &.bg-white {
      transition: all 0.8s ease;
      background: #fff;
      color: #000;
    }
    
    &.bg-black {
      transition: all 0.8s ease;
      background: #000;
      color: #fff; 
    }
  }

  footer {
    background: #000;
    padding-block: 16px;
    border-top: 1px solid var(--border-color);
    margin-top: 16px;
  }
}

