header {
  position: fixed;
  top: 0;
  width: inherit;
  z-index: 1000;
  background: #000;
}
.header {
  display: flex;
  align-items: center;
  padding-block: 16px;
  gap: 32px;

  .header__logo {
    display: flex;
    align-items: center;
  }

  .navbar {
    flex: 1;
  }
}