.banner_wrapper {
  width: 100%;
  height: 100vh;
  margin-bottom: 102px;

  .slide {
    width: 100%;
    position: relative;

    img {
      width: 100%;
    }

    .banner__info {
      position: absolute;
      bottom: 20%;
      left: 10%;

      .btn__group {
        display: flex;
        gap: 10px;
        margin-top: 10px;

        .btn {
          border: none;
          outline: none;
          display: flex;
          align-items: center;
          gap: 8px;
          font-size: 16px;
          font-weight: 600;
          cursor: pointer;

          &.btn-play {
            background-color: var(--primary-color);
            padding: 10px 20px;
            border-radius: 30px;
          }

          &.btn-save,
          &.btn-like {
            padding: 10px;
            border-radius: 100%;
            background-color: var(--secondary-color);

            &>svg {
              &.active {
                fill: #fff;
              }
            }
          }

          >svg {
            width: 24px;
            height: 24px;
          }
        }
      }
    }
  }
}
